{
  "extends": "walmart/configurations/es5-node",
  "rules": {
    "quotes":  [2, "single"],
    "no-console": 1,
    "comma-dangle": [2, "always"],
    "max-params": 0,
    "func-style": [2, "declaration"]
  }
}
